# ADD API Client below
ctp.projectKey=
ctp.clientId=
ctp.clientSecret=
ctp.authUrl=
ctp.apiUrl=
ctp.scopes=

# ADD API Client for Import API below
import.projectKey=
import.clientId=
import.clientSecret=
import.authUrl=https://auth.europe-west1.gcp.commercetools.com
import.apiUrl=https://import.europe-west1.gcp.commercetools.com
import.scopes=manage_products:project-key manage_import_containers:project-key

# UPDATE Store Key here
storeKey=b2c-retail-store

spring.devtools.restart.enabled=true
spring.jackson.default-property-inclusion=non_null
server.error.whitelabel.enabled=false

